<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.excelr.Google.ExpectedException"/>
      <class name="com.excelr.Google.GoogleTest"/> 
      <class name="com.excelr.Google.GoogleTitleTest"/> 
  	  <class name="com.excelr.Google.InvocationCountTest"/> 
  	  <class name="com.excelr.Google.TestNGFeatures_dependsOn"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
